@inject SignInManager<AppUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<nav class="text-sm uppercase font-bold text-dark bg-mid shadow-lg rounded-lg overflow-hidden">
    <a class="whitespace-nowrap block p-3 @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a>
    <a class="whitespace-nowrap block p-3 @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a>
    <a class="whitespace-nowrap block p-3 @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a>
    @if (hasExternalLogins)
    {
        <a id="external-logins" class="whitespace-nowrap block p-3 @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a>
    }
    <a class="whitespace-nowrap block p-3 @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">2FA Settings</a>
    <a class="whitespace-nowrap block p-3 @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a>
</nav>
