@model ContactBook.Models.ViewModels.HomeViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager


@{
    ViewData["Title"] = "Home Page";
}

<section class="grid grid-cols-2 gap-5">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await SignInManager.UserManager.GetUserAsync(User);
    
        <div class="col-span-2">
            <h1 class="font-bold mb-10 text-2xl">Welcome @user.FullName!</h1>
            <div class="flex gap-5 flex-wrap">
                @if (Model.FavouriteCategories != null && Model.FavouriteCategories.Count != 0)
                {
                <div class="bg-mid px-3 py-2 rounded-lg space-y-4 text-dark w-full md:w-fit">
                <h2 class="font-bold">Favourite Categories</h2>
                <hr class="bg-light h-2 rounded-lg border-0" />
                <ul>
                @foreach (var category in Model.FavouriteCategories)
                {
                    <li class="flex items-center justify-between">
                        <span>@category.Name</span>
                        <a asp-action="EmailCategory" asp-controller="Categories" asp-route-id="@category.Id" title="Email @category.Name">
                            <img src="~/images/message.svg" alt="Email" class="w-8 h-8 hover:scale-125 transition-transform">
                        </a>
                    </li>
                }
                </ul>
                </div>
                }

                @if (Model.FavouriteContacts != null && Model.FavouriteContacts.Count != 0)
                {
                <div class="bg-mid px-3 py-2 rounded-lg space-y-2 text-dark">
                <h2 class="font-bold">Favourite Contacts</h2>
                <hr class="bg-light h-2 rounded-lg border-0" />
                <ul>
                @foreach (var contact in Model.FavouriteContacts)
                {
                    <li class="flex items-center justify-between">
                        <span>@contact.FullName</span>
                        <a asp-action="EmailContact" asp-controller="Contacts" asp-route-id="@contact.Id" title="Email @contact.FullName">
                            <img src="~/images/message.svg" alt="Email" class="w-8 h-8 hover:scale-125 transition-transform">
                        </a>
                    </li>
                }
                </ul>
                </div>
                }

                @if (Model.RecentCategories != null && Model.RecentCategories.Count != 0)
                {
                <div class="bg-mid px-3 py-2 rounded-lg space-y-2 text-dark">
                <h2 class="font-bold">Recent Categories</h2>
                <hr class="bg-light h-2 rounded-lg border-0" />
                <ul>
                @foreach (var category in Model.RecentCategories)
                {
                    <li class="flex items-center justify-between">
                        <span>@category.Name</span>
                        <a asp-action="EmailCategory" asp-controller="Categories" asp-route-id="@category.Id" title="Email @category.Name">
                            <img src="~/images/message.svg" alt="Email" class="w-8 h-8 hover:scale-125 transition-transform">
                        </a>
                    </li>
                }
                </ul>
                </div>
                }

                @if (Model.RecentContacts != null && Model.RecentContacts.Count != 0)
                {
                <div class="bg-mid px-3 py-2 rounded-lg space-y-2 text-dark">
                <h2 class="font-bold">Recent Contacts</h2>
                <hr class="bg-light h-2 rounded-lg border-0" />
                <ul>
                @foreach (var contact in Model.RecentContacts)
                {
                    <li class="flex items-center justify-between">
                        <span>@contact.FullName</span>
                        <a asp-action="EmailContact" asp-controller="Contacts" asp-route-id="@contact.Id" title="Email @contact.FullName">
                            <img src="~/images/message.svg" alt="Email" class="w-8 h-8 hover:scale-125 transition-transform">
                        </a>
                    </li>
                }
                </ul>
                </div>
                }
            </div>
        </div>
    } else {
    <div class="flex flex-col justify-center col-span-2 md:col-span-1">
        <h1 class="font-bold mb-3 text-4xl">Manage all your contacts in one place</h1>
        <h2 class="font-semibold mb-4 text-xl">Your digital address book</h2>
        <div class="flex gap-2">
            <a href="#" class="btn-dark text-lg">Try Demo</a>
            <a asp-area="Identity" asp-page="/Account/Register" class="btn-primary text-lg">Sign Up</a>
        </div>
    </div>

    <div class="col-span-2 md:col-span-1 flex items-end justify-center">
        <img src="~/images/girl-managing-contacts.png" alt="Girl managing her contacts">
    </div>
    }
</section>
