@model IEnumerable<ContactBook.Models.Contact>
@using ContactBook.Services.Interfaces;

@inject IImageService imageService;

@{
    ViewData["Title"] = "Contacts";
}

<div class="flex flex-wrap gap-5 items-center justify-between mb-5">
    <h1 class="uppercase font-bold text-primary text-2xl">Contacts</h1>

    <a asp-action="Create" class="btn-primary text-light flex items-center w-fit gap-2 text-sm">Add Contact
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
            </svg>
        </span>
    </a>
</div>

<div class="flex flex-col md:flex-row gap-3 mb-5 sm:mb-10">
    <form asp-action="SearchContacts" asp-controller="Contacts" class="flex items-center gap-1 w-full">
        <input type="search" name="searchString" placeholder="Search contacts" class="w-full">
        <button type="submit" title="Search Contacts" class="h-full btn-primary text-sm flex items-center gap-2">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" title="Search Contacts" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
            </span>
        </button>
    </form>

    <form asp-action="Index" asp-controller="Contacts" class="flex items-center gap-1 w-full">
        <select name="categoryId" asp-items="@ViewBag.CategoryId" onchange="this.form.submit()" onfocus="this.selectedIndex=-1;this.blur();" class="w-full">
            <option>All Contacts</option>
            <option value="999">Favourites</option>
        </select>
    </form>
</div>

<div class="space-y-16">
    @if (!Model.Any())
    {
    <div class="space-y-4">
        <p class="text-dark">You have not setup any contacts yet.</p>
        <p><a asp-action="Create" class="font-semibold hover:underline">Click here to add your first contact</a>.</p>
    </div>
    }
    else
    {
    @foreach (var contact in Model) {
    var favouriteClass = contact.Favourite ? "fill-amber-400 stroke-amber-500" : "stroke-dark";
    <div>
        <div class="sm:hidden rounded-t-lg overflow-hidden">
            <img src="@imageService.ConvertByteArrayToFile(contact.ImageData!, contact.ImageType!)" alt="@Html.DisplayFor(modelContact => contact.FullName)" class="object-cover object-center h-40 w-full">
        </div>
        <div class="bg-mid text-dark px-3 py-3 rounded-b-lg sm:rounded-t-lg relative">
            <div class="hidden sm:block rounded-full absolute right-2 -top-6 overflow-hidden">
                <img src="@imageService.ConvertByteArrayToFile(contact.ImageData!, contact.ImageType!)" alt="@Html.DisplayFor(modelContact => contact.FullName)" class="object-cover w-40 h-40 object-center">
            </div>
            <h2 class="text-xl font-bold mb-3">@Html.DisplayFor(modelContact => contact.FullName)</h2>
            <div class="flex flex-col lg:flex-row gap-5 mb-5">
                <div>
                    <span class="block">@Html.DisplayFor(modelContact => contact.Address1)</span>
                    <span class="block">@Html.DisplayFor(modelContact => contact.Address2)</span>
                    <span class="block">@Html.DisplayFor(modelContact => contact.City)</span>
                    <span class="block">@Html.DisplayFor(modelContact => contact.County)</span>
                    <span class="block">@Html.DisplayFor(modelContact => contact.PostCode)</span>
                </div>

                <div class="space-y-2 text-sm">
                    <p class="flex items-center gap-2">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 opacity-40">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 8.25v-1.5m0 1.5c-1.355 0-2.697.056-4.024.166C6.845 8.51 6 9.473 6 10.608v2.513m6-4.87c1.355 0 2.697.055 4.024.165C17.155 8.51 18 9.473 18 10.608v2.513m-3-4.87v-1.5m-6 1.5v-1.5m12 9.75l-1.5.75a3.354 3.354 0 01-3 0 3.354 3.354 0 00-3 0 3.354 3.354 0 01-3 0 3.354 3.354 0 00-3 0 3.354 3.354 0 01-3 0L3 16.5m15-3.38a48.474 48.474 0 00-6-.37c-2.032 0-4.034.125-6 .37m12 0c.39.049.777.102 1.163.16 1.07.16 1.837 1.094 1.837 2.175v5.17c0 .62-.504 1.124-1.125 1.124H4.125A1.125 1.125 0 013 20.625v-5.17c0-1.08.768-2.014 1.837-2.174A47.78 47.78 0 016 13.12M12.265 3.11a.375.375 0 11-.53 0L12 2.845l.265.265zm-3 0a.375.375 0 11-.53 0L9 2.845l.265.265zm6 0a.375.375 0 11-.53 0L15 2.845l.265.265z" />
                            </svg>
                        </span>
                        <span>@Html.DisplayFor(modelContact => contact.BirthDate)</span>
                    </p>

                    <p class="flex items-center gap-2">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 opacity-40">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                            </svg>
                        </span>
                        <a href="tel:@Html.DisplayFor(modelContact => contact.PhoneNumber)" class="font-semibold hover:underline transition-opacity">@Html.DisplayFor(modelContact => contact.PhoneNumber)</a>
                    </p>

                    <p class="flex items-center gap-2">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 opacity-40">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                            </svg>
                        </span>
                        <span class="font-semibold hover:underline transition-opacity">@Html.DisplayFor(modelContact => contact.Email)</span>   
                    </p>
                </div>
            </div>

            <div class="flex justify-between items-center gap-5">
                <div class="flex items-center gap-5 flex-grow">
                    <a asp-action="Edit" asp-route-id="@contact.Id">
                        <img src="~/images/edit.svg" alt="Edit" class="w-8 h-8 hover:scale-125 transition-transform">
                    </a>
                    <a asp-action="EmailContact" asp-route-id="@contact.Id">
                        <img src="~/images/message.svg" alt="Email" class="w-8 h-8 hover:scale-125 transition-transform">
                    </a>
                    <a asp-action="Delete" asp-route-id="@contact.Id">
                        <img src="~/images/delete.svg" alt="Delete" class="w-8 h-8 hover:scale-125 transition-transform">
                    </a>
                </div>

                <form asp-action="ToggleFavourite" asp-route-id="@contact.Id" method="post" class="flex items-center">
                    <button type="submit" title="Favourite">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 @favouriteClass">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
    }
    }
</div>

@section scripts{
    <!--Sweet Alerts-->
    <script>
        let message = '@(ViewBag.SwalMessage)';

        if (!message.includes("Error") && message != '') {
            Swal.fire({
                backdrop: false,
                icon: 'success',
                title: message,
                showConfirmButton: true
            })
        } else if (message.includes("Error")) {
            Swal.fire({
                backdrop: false,
                icon: 'error',
                title: 'Oops...',
                text: message
            })
        }
    </script>
    }